a{
	color: #283593;
	text-decoration: none;
}
h3{
	margin-top: 12px;
}
*{
	margin:0px;
}
body{
	background-image: url("https://png.pngtree.com/element_origin_min_pic/16/09/05/0957ccd033c71ec.jpg");
	font-family: 'Roboto', sans-serif;

}
main{
	border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: calc((100% - 580px) / 2);
    width: 682px;
    height: 620px;
}
section#status{
	box-shadow: 8px 7px 14px 3px #f7edaf;
	position: relative;
	bottom: 190px;
	margin-bottom: 15px;
	padding-top: 25px;
	padding-bottom: 25px;
	border-radius: 5px;
	text-align: center;
	background-color: rgb(90, 90, 87);
	color: #FFFFFF;
	font-size: 25px;
	font-family: 'Roboto Mono', monospace;
}
section#Slots{
	box-shadow: 14px 1px 20px 0px #f7edaf;
	border-radius: 15px;
    background-image: linear-gradient(to top right, #ff0500 , #fff068);
	height: 377px;
	position: relative;
	bottom: 150px;

}
#Gira{
	box-shadow: 5px 3px 19px 3px #f7edaf;
	text-overflow: inherit;
	text-align: center;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	position: relative;
	background-image: linear-gradient(to top right, #ff0500 , #fff068);
	border-radius: 10%; 
	margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: calc((40% - 480px) / 2);
    width: 50px;
    height: 150px;
}
#rool{
	border-radius: 20%;
    display: inline-block;
    background: #FFFFFF;
    width: 198px;
    height: 330px;
    margin-top: 23px;
    margin-left: 13px;
    margin-right: 0;
    border: 5px solid #eccd04;
}
section#options{
	margin-bottom: auto;
    padding-top: 5px;
    border-radius: 5px;
    background-color: #C62828;
    color: #FFFFFF;
    width: 60px;
}
.option{
	padding-left: 5px;
}
#slot1, #slot2, #slot3{
	display: inline-block;
    margin-top: 90px;
    margin-left: 21px;
    margin-right: 15px;
    background-size: 164px;
    width: 158px;
    height: 164px;
}
.a1{
	background-image:url("res/icon new/1.png");
}
.a2{
	background-image: url("res/icon new/2.png");
}
.a3{
	background-image: url("res/icon new/3.png");
}
.a4{
	background-image: url("res/icon new/4.png");
}
.a5{
	background-image: url("res/icon new/5.png");
}
.a6{
	background-image: url("res/icon new/6.png");
}
.a7{
	background-image: url("res/icon new/7.png");
}6

.text-slot {
  height:60px;
  text-align: center; 
  margin:30px 0px 50px 0px;
}

.text-slot ul { 
  padding:10px 10px 10px 10px;
  list-style-type: none; 
  display:inline-block;
  text-align: center; 
  box-shadow: 0 0 10px #b4b4b4;
}

.text-slot ul li{
   float:left;
   color:white;
   font-size:30px;
   font-weight:300;
   margin:0 1px 0 1px;
   padding:6px 6px 0px 6px;
   height: 40px;
   width: 40px;
   display: inline;
}

.sagn-dark-blue {
	background-color: #034E7A;
}

.sagn-orange {
	background-color:#58585A;
}

.sagn-red {
	background-color: #EE3842;
}

.sagn-grey {
	background-color: #e2893b;
}

.sagn-light-blue {
	background-color: #42A0FA;
}

.sagn-dark-grey {
	background-color: #4aa2ce;
}

.sagn-black {
  background-color: black;
}
.text-slot ul :hover{
  transition: 1s;
  box-shadow: 0px 0px 120px hsl(170, 100%, 50%);
}
